@model proje.Models.ViewModels.DirectorFilmViewModel

<h1>@Model.Director.Name</h1>

<table border="1">
    <tr>
        <td>Film Name</td>
    </tr>
    @foreach (var film in Model.Films)
    {
        <tr>
            <td>@film.Name</td>
        </tr>
    }
</table>
